* {
	padding: 0;
	margin: 0;
}

body {
	color: #333;
	font: 14px Sans-Serif;
	padding: 50px;
	background: #eee;
}

h1 {
	text-align: center;
	padding: 20px 0 12px 0;
	margin: 0;
}
h2 {
	font-size: 16px;
	text-align: center;
	padding: 0 0 12px 0; 
}

header, .login-form {
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
	position: relative;
	background: white; 
}

table {
	background-color: #F3F3F3;
	border-collapse: collapse;
	width: 100%;
	margin: 15px 0;
}

th {
	background-color: #FE4902;
	color: #FFF;
	cursor: pointer;
	padding: 5px 10px;
}

th small {
	font-size: 9px; 
}

td, th {
	text-align: left;
}

a {
	text-decoration: none;
}

td a {
	color: #663300;
	display: block;
	padding: 5px 10px;
}
th a {
	padding-left: 0
}

td:first-of-type a {
	background: url(/images/file.png) no-repeat 10px 50%;
	padding-left: 35px;
}
th:first-of-type {
	padding-left: 35px;
}

td:not(:first-of-type) a {
	background-image: none !important;
} 

tr:nth-of-type(odd) {
	background-color: #E6E6E6;
}

tr:hover td {
	background-color:#CACACA;
}

tr:hover td a {
	color: #000;
}

table tr.file td:first-of-type {
	padding-left: 15px;
}

table tr.dir td:first-of-type a {
	background-image: url(/images/folder.png);
}

.menu {
	float: right;
	position: relative;
	top: -40px;
	right: 20px;
}

.login-form {
	width: 25%;
	margin: 20px auto;
	text-align: center;
	padding: 10px 0;
}

.login-form input {
	padding: 2px 4px;
}

.login-form label {
	font-weight: bold;
}

.login-form__row {
	margin-bottom: 10px;
}

.error {
	color: #c80000;
	padding-bottom: 10px;
}

a {
	font-weight: bold;
	color: #FE4902;
}

a:hover {
	text-decoration: underline;
}

.btn {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  text-shadow: 1px 1px 3px #bdbdbd;
  color: #FE4902;
  font-size: 16px;
  background: #ffffff;
  padding: 5px 15px;
  border: solid #FE4902 2px;
  text-decoration: none;
}

.btn:hover {
  background: #FE4902;
  text-decoration: none;
	color: #ffffff;
}

@media (max-width: 1280px) {
	.menu {
		float: none;
		top: 0;
		right: 0;
		text-align: center;
		padding: 10px;
	}
}

@media (max-width: 1280px) {
	.login-form {
		width: 70%;
	}
}

@media (max-width: 800px) {
	.login-form {
		width: 60%;
	}
}

@media (max-width: 600px) {
	body {
		padding: 0;
		padding-top: 25px;
	}

	.login-form {
		width: 100%;
	}
}