* {
	padding: 0;
	margin: 0;
}

body {
	color: #333;
	font: 14px Sans-Serif;
	padding: 50px;
	background: #eee;
}

h1 {
	text-align: center;
	padding: 20px 0 12px 0;
	margin: 0;
}
h2 {
	font-size: 16px;
	text-align: center;
	padding: 0 0 12px 0; 
}

header,
main,
footer,
.form--login {
	box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
	position: relative;
	background: white; 
}

main {
	padding: 10px 0 10px 0;
	margin-top: 10px;
}

footer {
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	color: #888888;
}

table {
	background-color: #F3F3F3;
	border-collapse: collapse;
	width: 100%;
	margin: 15px 0;
}

th {
	background-color: #FE4902;
	color: #FFF;
	cursor: pointer;
	padding: 5px 10px;
}

th small {
	font-size: 9px; 
}

td, th {
	text-align: left;
}

a {
	text-decoration: none;
}

td a {
	color: #663300;
	display: block;
	padding: 5px 10px;
}
th a {
	padding-left: 0
}

table.dataTable thead th.sorting,
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc {
	background-position-x: 10px;
}

table.dataTable thead th {
	padding-left: 35px;
}

table.dataTable tbody tr:nth-of-type(odd) {
	background-color: #E6E6E6;
}

table.dataTable tbody tr:hover td {
	background-color:#CACACA;
	cursor: pointer;
}

table.dataTable tbody tr:hover td a {
	color: #000;
}

.dataTables_filter {
	margin-right: 10px;
}

.dataTables_length {
 	margin: 5px;
}

.document td:first-of-type {
	padding-left: 15px;
}

.document--field__file-size {
	width: 55px;
	text-align: right;
}

.document--field__actions {
	width: 30%;
	text-align: right;
}

.document-action {
	display: inline;
}

table tr.dir td:first-of-type a {
	padding-left: 20px;
	background: no-repeat url(/images/folder.png);
}

.menu {
	float: right;
	position: relative;
	top: -40px;
	right: 20px;
}

.form {
	width: 25%;
	margin: 20px auto;
	text-align: center;
	padding: 10px 0;
}

.form input {
	padding: 2px 4px;
}

.form label {
	font-weight: bold;
}

.form__row {
	margin-bottom: 10px;
}

.error {
	color: #c80000;
	padding-bottom: 10px;
}

a {
	font-weight: bold;
	color: #FE4902;
}

a:hover {
	text-decoration: underline;
}

.btn {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  text-shadow: 1px 1px 3px #bdbdbd;
  color: #FE4902;
  font-size: 16px;
  background: #ffffff;
  padding: 5px 15px;
  border: solid #FE4902 2px;
  text-decoration: none;
}

.btn-small {
  padding: 0 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 10px;
}

.btn:hover {
	background: #FE4902;
	text-decoration: none;
	color: #ffffff;
}

.btn-borderless {
	color: #606060;
	border-color: transparent;
}

.btn-borderless:hover,
.btn-borderless:active {
	outline: none;
	background: none !important;
	color: #FE4902;
}

.btn-group:after {
	content: "";
	display: table;
	clear: both;
}

.btn-group .btn {
	margin-top: 20px;
	float: right;
}

.modal-wrapper {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal {
	background-color: #fefefe;
	margin: 15% auto;
	border: 1px solid #888;
	width: 400px;
	border-radius: 8px;
}

.modal-header {
	padding: 15px;
	border-bottom: 1px solid #dadada;
}

.modal-close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: relative;
	top: -10px;
	right: -5px;
}

.modal-content {
	padding: 15px;
	margin-top: 10px;
}

.modal-close:hover,
.modal-close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.breadcrumb {
	padding: 10px;
	list-style: none;
}

.breadcrumb li {
	display: inline;
	font-weight: bold;
}

.breadcrumb li:before {
	content: '/';
	margin: 0 5px;
}

.form-label {
	font-weight: bold;
}

.form-control {
	display: block;
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #dadada;
	width: 100%;
	box-sizing:border-box
}

@media (max-width: 1280px) {
	.menu {
		float: none;
		top: 0;
		right: 0;
		text-align: center;
		padding: 10px;
	}
}

@media (max-width: 1280px) {
	.login-form {
		width: 70%;
	}
}

@media (max-width: 800px) {
	.login-form {
		width: 60%;
	}

	.document-action {
		display: block;
	}
}

@media (max-width: 640px) {
	.dataTables_filter {
		margin-right: 0;
		margin-bottom: 10px;
	}
}

@media (max-width: 600px) {
	body {
		padding: 0;
		padding-top: 25px;
	}

	.login-form {
		width: 100%;
	}

	.modal {
		width: 100%;
	}

	.document--field__actions {
		width: 33%;
		text-align: left;
	}
}
