<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>CAFRS and Single Audits for US Governments and Non-Profits</title>

    {%- block stylesheets -%}
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/style.css">
    {%- endblock stylesheets -%}
</head>

<body>
    <header>
        <h1>CAFRS and Single Audits for US Governments and Non-Profits</h1>
        <div class="menu">
            {%- if user is defined -%}
                <span>Hello, {{ user.fullName -}}</span>
                <a href="{{- path_for('logout') -}}">Logout</a>
            {%- else -%}
                <a href="{{- path_for('login') -}}">Login</a>
            {%- endif -%}
        </div>
    </header>
    <main>
        {%- if block('breadcrumb') is defined -%}
            <ul class="breadcrumb">
                {{ block('breadcrumb')|raw }}
            </ul>
        {%- endif -%}
        {%- block main %}{% endblock main -%}
    </main>

    {%- block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    {% endblock javascripts -%}
</body>
</html>