<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>CAFRS and Single Audits for US Governments and Non-Profits</title>

    {%- block stylesheets -%}
        <link rel="stylesheet" href="/style.css">
    {%- endblock stylesheets -%}
</head>

<body>
<main>
   {%- block main %}{% endblock main -%}
</main>
{%- block javascripts %}{% endblock javascripts -%}
</body>
</html>