{% extends 'layout.twig' %}

{% block main %}
    <form method="post">
        <div>
            <label for="username">Username:</label>
            <input id="username" name="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input id="password" name="password" type="password">
        </div>
        {%- if error != '' -%}
            <div>{{ error }}</div>
        {%- endif -%}
        <div>
            <button>Submit</button>
        </div>
    </form>
{% endblock main %}
