{% extends 'layout.twig' %}

{% block main %}
    <div class="form form--login">
        <form method="post">
            {%- if error != '' -%}
                <div class="error">{{ error }}</div>
            {%- endif -%}
            <div class="form__row">
                <label for="username">Username</label>
                <input id="username" name="username">
            </div>
            <div class="form__row">
                <label for="password">Password</label>
                <input id="password" name="password" type="password">
            </div>
            <div class="form__row">
                <button class="btn">Submit</button>
            </div>
        </form>
    </div>
{% endblock main %}
