{% extends 'layout.twig' %}

{% block main %}
    <table class="sortable">
        <thead>
            <tr>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            {%- for state in states -%}
                <tr class="dir">
                    <td><a href="{{ path_for('years', { type: type, state: state }) }}">{{- state -}}</a></td>
                </tr>
            {%- endfor -%}
        </tbody>
    </table>
{% endblock main %}