{% extends 'layout.twig' %}

{% block main %}
    <table class="sortable">
        <thead>
            <tr>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {%- for slug, type in types -%}
                <tr class="dir">
                    <td><a href="{{ path_for('states', { type: slug }) }}">{{- type -}}</a></td>
                </tr>
            {%- endfor -%}
        </tbody>
    </table>
{% endblock main %}