<label for="states-form" id="states-form-label" style="margin-left: 10px; display: none;">Filter by State: </label>
<select id="states-form" style="display: none; width: 10rem;" title="Search by State">
    <option value="0" selected>All</option>
    {% for key, state in states %}
        <option value={{ key }}>{{ state }}</option>
    {% endfor %}
</select>