{% extends 'layout.twig' %}

{% block main %}
    <div class="form form--profile">
        <form method="post" action="{{ path_for('user-change-password', { username: user.username }) }}">
            {%- for err in error -%}
                <div class="error">{{ err.message }}</div>
            {%- endfor -%}

            <div class="form__row">
                <label for="password">Password</label>
                <input id="password" name="password" type="password">
            </div>

            <div><small>Leave empty if don't want to change password</small></div>
            <br>
            <div class="form__row">
                <button class="btn">Submit</button>
            </div>
        </form>
    </div>
{% endblock main %}

